In [182]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

# Consecutive positives

If today market opening is postive what is the probaility that yesterday was positive
In another terms if market today is postive what is the probability that tomorrow opening will be positive

In [183]:
#workks for data downloaded from bse
column_list = ["date", "open", "high","low","close","reamrks"]

years=["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2007-2020"]
for s in years:
    path="data/sensex/sensex"+s+".csv"
    df = pd.read_csv(path,names=column_list)
    
    count1=0
    count2=0
    cur=1
    for i in range(2,df.index.size-1):  
        if df['close'][i-2]<df['open'][i-1] and df['close'][i-1]<df['open'][i]:
            count1=count1+1
        if df['close'][i-1]<df['open'][i]:
            count2=count2+1
            profit=float((float(df['open'][i+1])-float(df['close'][i]))/float(df['close'][i]))
            cur=cur+(cur*profit)
    print("for the year "+s)
   # print(str(count1)+" "+str(count2))
    print((count1/count2)*100)
    print("return is "+ str(cur))
    print("\n")

for the year 2010
61.74496644295302
return is 1.080519324812772


for the year 2011
65.40880503144653
return is 1.252700425757263


for the year 2012
63.52201257861635
return is 1.2375100286060414


for the year 2013
58.78378378378378
return is 1.190990569630977


for the year 2014
76.50273224043715
return is 1.334376252091945


for the year 2015
77.83783783783784
return is 1.4256564983041118


for the year 2016
71.1864406779661
return is 1.2467851138024666


for the year 2017
82.84313725490196
return is 1.4246601285150406


for the year 2018
65.40880503144653
return is 1.252700425757263


for the year 2019
63.52201257861635
return is 1.2375100286060414


for the year 2020
69.06077348066299
return is 1.2948030031996671


for the year 2007-2020
71.4109926168991
return is 23.262420257531936

In [184]:
#In previous cell we have checked for sensex now let us check for nifty 50
column_list = ["Date", "Open", "High","Low","Close"]
#data will be used for concatenation of data frames
data=pd.DataFrame()
#avoiding 2019 because there is 1:10 split in decmenber of that year
years=["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]
for s in years:
    path="data/nifty/nifty"+s+".csv"
    df = pd.read_csv(path,usecols=column_list) 
    df=df.rename(columns={"Open": "Open Price", "High": "High Price","Close":"Close Price","Low":"Low Price"})
    data=data.append(df,ignore_index = True)
    count1=0
    count2=0
    cur=1
    for i in range(2,df.index.size-1):  
        if df['Close Price'][i-2]<df['Open Price'][i-1] and df['Close Price'][i-1]<df['Open Price'][i]:
            count1=count1+1
        if df['Close Price'][i-1]<df['Open Price'][i]:
            count2=count2+1
            profit=float((float(df['Open Price'][i+1])-float(df['Close Price'][i]))/float(df['Close Price'][i]))
            #brokerage of zero and 0.1% stt
            cur=cur+(cur*profit)
    print("for the year "+s)
   # print(str(count1)+" "+str(count2))
    print((count1/count2)*100)
    print("return is "+ str(cur))
    print("\n")

for the year 2010
63.41463414634146
return is 1.1183115468001632


for the year 2011
52.63157894736842
return is 1.0614283486137817


for the year 2012
52.63157894736842
return is 1.0614283486137817


for the year 2013
52.63157894736842
return is 1.0614283486137817


for the year 2014
52.63157894736842
return is 1.0614283486137817


for the year 2015
52.63157894736842
return is 1.0614283486137817


for the year 2016
67.87878787878789
return is 1.1700440446708427


for the year 2017
76.50273224043715
return is 1.3805472085989194


for the year 2018
69.18604651162791
return is 1.13405007179551


for the year 2019
74.56647398843931
return is 1.3587752715693584


for the year 2020
68.18181818181817
return is 1.1931870871262211

In [185]:
#merged data for 11 years
print(data)

             Date  Open Price  High Price  Low Price  Close Price
0     04-Jan-2010     5200.90     5238.45    5167.10      5232.20
1     05-Jan-2010     5277.15     5288.35    5242.40      5277.90
2     06-Jan-2010     5278.15     5310.85    5260.05      5281.80
3     07-Jan-2010     5281.80     5302.55    5244.75      5263.10
4     08-Jan-2010     5264.25     5276.75    5234.70      5244.75
...           ...         ...         ...        ...          ...
2719  23-Dec-2020    13473.50    13619.45   13432.20     13601.10
2720  24-Dec-2020    13672.15    13771.75   13626.90     13749.25
2721  28-Dec-2020    13815.15    13885.30   13811.55     13873.20
2722  29-Dec-2020    13910.35    13967.60   13859.90     13932.60
2723  30-Dec-2020    13980.90    13997.00   13864.95     13981.95

[2724 rows x 5 columns]

There are two options to track index
Futures- can go long as well as short
ETF's- only long posiible by using BTST
But problems with ETF's is tracking errors

In [186]:
#checking same pattern for nifty bees an ETF which tracks nifty fifty along with brokerage and taxes

In [187]:
#column list for data downloaded from NSE

column_list = ["Date", "Open Price", "High Price","Low Price","Close Price"]
#avoiding 2019 because there is 1:10 split in decmenber of that year
years=["2010","2011","2012","2013","2014","2015","2016","2017","2018","2020"]
for s in years:
    path="data/niftybees/niftybees"+s+".csv"
    df = pd.read_csv(path,usecols=column_list) 
   
    count1=0
    count2=0
    cur=1
    for i in range(2,df.index.size-1):  
        if df['Close Price'][i-2]<df['Open Price'][i-1] and df['Close Price'][i-1]<df['Open Price'][i]:
            count1=count1+1
        if df['Close Price'][i-1]<df['Open Price'][i]:
            count2=count2+1
            profit=float((float(df['Open Price'][i+1])-float(df['Close Price'][i]))/float(df['Close Price'][i]))
            #brokerage of zero and 0.1% stt
            cur=cur+(cur*profit-0.0021)
    print("for the year "+s)
   # print(str(count1)+" "+str(count2))
    print((count1/count2)*100)
    print("return is "+ str(cur))
    print("\n")

for the year 2010
53.23741007194245
return is 0.6890462279966767


for the year 2011
58.82352941176471
return is 0.8709880614137901


for the year 2012
50.75757575757576
return is 0.7097993527982762


for the year 2013
56.11510791366906
return is 0.7106549920933082


for the year 2014
62.7906976744186
return is 0.7988077232547004


for the year 2015
59.23076923076923
return is 0.8153926814751435


for the year 2016
61.97183098591549
return is 0.7344985733556818


for the year 2017
80.61224489795919
return is 1.0683826622162367


for the year 2018
60.71428571428571
return is 0.8636374783095928


for the year 2020
76.50273224043715
return is 28.291801269670362

So unless you do want to lose money do not do this, it is injurious to health
But what the hell is wrong with 2020, open price in ETF's can be unrealistic(very less volume at the price point) so lets use average price of next day to sell and check returns

In [188]:
#column list for data downloaded from NSE

column_list = ["Date", "Open Price", "High Price","Low Price","Close Price","Average Price"]
#avoiding 2019 because there is 1:10 split in decmenber of that year
years=["2010","2011","2012","2013","2014","2015","2016","2017","2018","2020"]
for s in years:
    path="data/niftybees/niftybees"+s+".csv"
    df = pd.read_csv(path,usecols=column_list) 
    count1=0
    count2=0
    cur=1
    for i in range(2,df.index.size-1):  
        if df['Close Price'][i-2]<df['Open Price'][i-1] and df['Close Price'][i-1]<df['Open Price'][i]:
            count1=count1+1
        if df['Close Price'][i-1]<df['Open Price'][i]:
            count2=count2+1
            profit=float((float(df['Average Price'][i+1])-float(df['Close Price'][i]))/float(df['Close Price'][i]))
            #brokerage of zero and 0.1% stt
            cur=cur+(cur*profit-0.0021)
    print("for the year "+s)
   # print(str(count1)+" "+str(count2))
    print((count1/count2)*100)
    print("return is "+ str(cur))
    print("\n")

for the year 2010
53.23741007194245
return is 0.7539263356116217


for the year 2011
58.82352941176471
return is 0.610451243086082


for the year 2012
50.75757575757576
return is 0.7021769007460783


for the year 2013
56.11510791366906
return is 0.8122310408526091


for the year 2014
62.7906976744186
return is 0.9660276384972649


for the year 2015
59.23076923076923
return is 0.785713459618766


for the year 2016
61.97183098591549
return is 0.7272885618941907


for the year 2017
80.61224489795919
return is 0.7609657499593453


for the year 2018
60.71428571428571
return is 0.7302255061662177


for the year 2020
76.50273224043715
return is 0.5684256622711104

So hence ETF's cannot be used to track index, let us give a try with futures

Let us use a classifier for this purpose


There will two columns.
column 1:If today opened positive it will be 1 else 0
column 2:How long is the current streak

In [189]:
#entry in list is 0 if tomorrow open negative 1 if tomorrow opens positive

df=data
li=[]
print(data)
positives=0
negatives=0
for i in range(0,df.index.size-1):  
        if df['Open Price'][i+1]>df['Close Price'][i]:
            li.append(1)
            positives=positives+1
        else:
            li.append(0)
            negatives=negatives+1
print("positives in data set are "+ str(positives) +" and negatives are "+ str(negatives) )
today=[]
today.append(1)
cur=0;
streak=[1]
for i in range(1,df.index.size-1):  
        if df['Open Price'][i]>df['Close Price'][i-1]:
            today.append(1)
            if(today[i-1]==1):
                streak.append(streak[i-1]+1)
            else:
                streak.append(1)
        else:
            today.append(0)
            if(today[i-1]==0):
                streak.append(streak[i-1]+1)
            else:
                streak.append(1)


len(today)

             Date  Open Price  High Price  Low Price  Close Price
0     04-Jan-2010     5200.90     5238.45    5167.10      5232.20
1     05-Jan-2010     5277.15     5288.35    5242.40      5277.90
2     06-Jan-2010     5278.15     5310.85    5260.05      5281.80
3     07-Jan-2010     5281.80     5302.55    5244.75      5263.10
4     08-Jan-2010     5264.25     5276.75    5234.70      5244.75
...           ...         ...         ...        ...          ...
2719  23-Dec-2020    13473.50    13619.45   13432.20     13601.10
2720  24-Dec-2020    13672.15    13771.75   13626.90     13749.25
2721  28-Dec-2020    13815.15    13885.30   13811.55     13873.20
2722  29-Dec-2020    13910.35    13967.60   13859.90     13932.60
2723  30-Dec-2020    13980.90    13997.00   13864.95     13981.95

[2724 rows x 5 columns]
positives in data set are 1727 and negatives are 996

2723

In [190]:
#dropping last row
df.drop(df.tail(1).index,inplace=True) # drop last n rows

In [191]:
df['day'] = df.index
df['result']=li
df['today']=today
df['streak']=streak

In [192]:
df

,Date,Open Price,High Price,Low Price,Close Price,day,result,today,streak
0,04-Jan-2010,5200.90,5238.45,5167.10,5232.20,0,1,1,1
1,05-Jan-2010,5277.15,5288.35,5242.40,5277.90,1,1,1,2
2,06-Jan-2010,5278.15,5310.85,5260.05,5281.80,2,0,1,3
3,07-Jan-2010,5281.80,5302.55,5244.75,5263.10,3,1,0,1
4,08-Jan-2010,5264.25,5276.75,5234.70,5244.75,4,1,1,1
...,...,...,...,...,...,...,...,...,...
2718,22-Dec-2020,13373.65,13492.05,13192.90,13466.30,2718,1,1,1
2719,23-Dec-2020,13473.50,13619.45,13432.20,13601.10,2719,1,1,2
2720,24-Dec-2020,13672.15,13771.75,13626.90,13749.25,2720,1,1,3
2721,28-Dec-2020,13815.15,13885.30,13811.55,13873.20,2721,1,1,4
2722,29-Dec-2020,13910.35,13967.60,13859.90,13932.60,2722,1,1,5

# Logistic regression

In [209]:
X = df[['today','streak']]
y = df['result']  

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)  #train is based on 75% of the dataset, test is based on 25% of dataset

logistic_regression= LogisticRegression()
logistic_regression.fit(X_train,y_train)
y_pred=logistic_regression.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print(y_pred)

Accuracy: 0.6167400881057269
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [210]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
print(y_pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [211]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6093979441997063

In [208]:
len(df)

2723